@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:wght@400;500;700&display=swap');

/* -------------------------- Colours -------------------------- */

:root {
    /* Custom Site Colours */
    --gold: rgb(152, 147, 57);
    --dark-gold: rgb(142, 132, 61);
    --teal: rgb(36, 79, 129);
    /* colours added based on Wave report to provided higher contrast */
    --darker-gold:rgb(128, 119,56);
    --lighter-gold:#C8C17E;

    /* Customised Halfmoon Framework Colours */
    --primary-color: var(--darker-gold);
    --secondary-color: var(--teal);
    --gray-color-light: rgba(255, 255, 255, 0.8);
    --lm-input-border-color-hover:var(--teal);
    --lm-button-primary-box-shadow-focus:rgba(36, 79, 129, 0.6);
    --lm-button-primary-bg-color-hover:rgba(36, 79, 129, 0.7);
    --lm-button-secondary-bg-color-hover:rgba(142, 132, 61, 0.7);
    --lm-button-secondary-text-color: #fff;
    --lm-button-secondary-border-color-hover:var(--teal);
}

/* -------------------------- General -------------------------- */

/* Rules for sizing Google Material Icons. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* All default styles applied are targeted towards mobile devices */
/* media queries are used to vary styles for larger screen devices */
/* where necessary. */

/* -------------------------- general Selectors -------------------------- */

body {
    /* sets default font family and background colour */
    font-family: 'Raleway', sans-serif;
    background-color: var(--teal);
}

a:hover {
    /* disables halfmoon framework default hover style for links */
    text-decoration: none;
    color: #fff;
}

.btn.btn-primary:hover {
    /* overwrites framework hover class to provide a button hover border */
    border: 1px solid var(--dark-gold);
}

h1 {
    /* sets the standard heading colour */
    color: var(--lighter-gold);
}

.page_heading {
    /* sets default margins for page headings */
    margin-top: 3vh;
    margin-left: 7vw;
}

/* -------------------------- Header -------------------------- */

/* logo class for logo on all pages */
.logo {
    float: left;
    margin: 0.5rem 0.5rem 0rem 0.25rem;
    border-radius: 1rem;
    border: 3px solid var(--dark-gold);
    width: 95%;
}

/* main navigation ID selector used on all pages */
#main_nav {
    margin: 0;
}

/* class used on the navigation ul element */
.navigation {
    list-style: none;
    float: right;
    font-weight: 500;
    margin-top: 0.5rem;
}

/* class used on navigation li elements */
.nav_item {
    float: left;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    height: 55px;
    color: #fff;
    background-color: var(--darker-gold);
    font-size: 1.5rem;
}

/* child selector for links withing navigation list items */
.nav_item>a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 50px;
}

/* class for the homepage cover image */
.cover {
    background-image: url(../images/a_view_to_luxury.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
    margin-bottom: 4rem;
    opacity: 0.9;
    animation: fade_in 2s forwards;
}

/* keyframe to fade the cover image in */
/* code adapted from https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */
@keyframes fade_in {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 0.9;
    }
}

/* class for the main heading greeting circle on the home page */
.circle {
    background-color: rgba(36, 79, 129, 0.8);
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    margin: 10% auto 0;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    text-align: center;
}

/* the following 3 classes are applied to the heading text within the circle */
.title {
    font-family: 'Parisienne', cursive;
}

.title > h1 {
    font-size: 3rem;
}

.title > h2 {
    color: var(--lighter-gold);
    font-size: 2.25rem;
}

/* -------------------------- Body -------------------------- */

/* margin allied to all sections to prevent footer overlap */
section {
    margin-bottom: 10vh;
}

/* feature cards appear on the home page an list the main selling points of the hotel */
.feature {
    border-radius: 1rem;
    border: 3px solid var(--dark-gold);
    text-align: center;
}

.feature>ul {
    list-style: none;
    width: auto;
    margin: 0 auto;
}

/* This code was derived from https://ryansechrest.com/2012/11/change-your-list-bullet-to-a-custom-character-in-css/ */
.feature li::before {
    content: "\2713";
    padding-right: 8px;
    color: var(--gold);
}

/* styles all label text to match colour scheme */
label {
    color: var(--teal);
    font-weight: 500;
}

/* styles input boxes that are dates more consistently with
    with other input styles from the framework */
input[type="date"] {
    display: block;
    border: 1px solid var(--dark-gold);
    margin-bottom: 10px;
}

/* customises the halfmoon class to give inputs a thematic border */
.form-control {
    border: 1px solid var(--dark-gold);
}

/* the .thumbnail classes are used to create a hover overlay
    for images in rooms.html so visitors know to click for
    more images
    https://www.w3schools.com/howto/howto_css_image_overlay.asp was
    used and customised to achieve this */
.thumbnail_container {
    position: relative;
}

.thumbnail_container:hover .thumbnail {
    opacity: 0.6;
}

.thumbnail_container:hover .thumbnail_text {
    opacity: 1;
}

.thumbnail {
    opacity: 1;
}

.thumbnail_text {
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

/* this class styles images on the rooms.html modal pop ups
    to give them a photograph like appearance */
.img_full {
    background-color: #fff;
    padding: 10px;
}

/* used to ensure the text containers on about.html
    are centred */
.about_container {
    margin: 0 auto;
}
/* -------------------------- / Body -------------------------- */


/* -------------------------- Footer -------------------------- */

/* styles the footer element to create a bar that is
    always fixed to the bottom of the page */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 8vh;
    color: #fff;
    border-top: 1px solid #fff;
}

/* styles the ul used for footer navigation */
.footer_nav {
    display: block;
    list-style: none;
    font-weight: 500;
    margin: 1vh 0;
}

/* styles the list items used in footer navigation */
.footer_nav_item {
    display: inline-block;
    text-align: center;
    padding: 3px 7px;
    margin: 1vh 1vw;
    border: 3px solid var(--gold);
    border-radius: 2rem;
    color: #fff;
}

/* provides a hover effect for footer naigation items */
.footer_nav_item:hover {
    border: 3px solid #fff;
    background-color: var(--gold);
}

/* the next two classes style links for footer navigation items
    to override halfmoon link styles */
.footer_nav_item>a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 50px;
}

.footer_nav_item a:hover {
    color: var(--teal);
}

/* .book classes style the book now button so it appears unique
    to other buttons in the navigation */
.book {
    background-color: #fff;
    color: var(--darker-gold);
    border: var(--darker-gold) solid 3px;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 1vh 1vw;
    font-size: 1.75rem;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.book>a {
    text-decoration: none;
    color: var(--darker-gold);
}

.book>a:hover {
    text-decoration: none;
    color: var(--darker-gold);
}

/* styles the footer navigation ul used
    specifically for social medial links */
.footer_social {
    margin: 1vh 0;
}

/* the next two classes style the social media links icons */
.social_link {
    color: #fff;
    font-size: 3rem;
    margin: 0 1vw;
}

.social_link:hover {
    color: var(--dark-gold);
}

/* -------------------------- / Footer -------------------------- */



/* -------------------------- Media Queries -------------------------- */
/* two media queries have been used to style specific elements on
    screen sizes from 576px to 768px and 769px and above*/

/* MEDIUM UP */
@media screen and (min-width:769px) {

    /* -------------------------- Header -------------------------- */

    /* ensure the hotel logo is sized and positioned
         correctly on larger screens */
    .logo {
        float: left;
        margin: 2rem 2rem 1rem 2rem;
        border-radius: 2rem;
        width: 80%;
    }

    /* new navigation */
    /* created to provide button navigation on larger screens
        as trying to style the smaller navigation to change
        so significantly and remain positioned correctly
        at larger points proved too complicated */
    .navigation_lg {
        margin: 2rem 0 0;
        display: inline-block;
        list-style: none;
        font-weight: 500;
    }

    .nav_item_lg {
        display: inline-block;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 2rem;
        margin: 0 0 0 0.25rem;
        border: 2px solid #fff;
        font-size: 1.75rem;
        color: #fff;
        background-color: var(--darker-gold);
    }

    /* first child class is used here to
        ensure navigation is pushed to the right
        view width units are used to ensure navigation
        position remains responsive */
    .nav_item_lg:first-child {
        margin: 0 0 0 24vw;
    }

    .nav_item_lg>a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 50px;
    }

    .book_lg {
        margin: 0 0 0 1vw;
        display: inline-block;
        background-color: #fff;
        color: var(--gold);
        border: var(--dark-gold) solid 3px;
        border-radius: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.75vw;
        font-weight: 700;
    }

    .book_lg>a {
        text-decoration: none;
        color: var(--gold);
    }

    /* / new navigation */

    .circle {
        background-color: rgba(36, 79, 129, 0.8);
        border-radius: 50%;
        width: 35rem;
        height: 35rem;
        margin: 0 auto;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .title>h1 {
        color: var(--lighter-gold);
        font-size: 4.5rem;
    }

    .title>h2 {
        color: var(--lighter-gold);
        font-size: 3rem;
    }

    /* -------------------------- / Header -------------------------- */

    /* -------------------------- Footer -------------------------- */

    footer {
        min-height: 8vh;
        font-size: 1.5rem;
    }

    /* -------------------------- / Footer -------------------------- */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ SMALL - MEDIUM ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width:576px) and (max-width:768px) {

    /* -------------------------- Header -------------------------- */
    .logo {
        float: left;
        margin: 2rem 2rem 1rem 2rem;
        border-radius: 2rem;
        width: 80%;
    }

    .navigation {
        margin-top: 2rem;
    }

    .nav_item>a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 50px;
    }

    .book {
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .book>a {
        text-decoration: none;
        color: var(--gold);
    }

    .book a:hover {
        text-decoration: none;
        color: var(--gold);
    }

    .circle {
        background-color: rgba(36, 79, 129, 0.8);
        border-radius: 50%;
        width: 35rem;
        height: 35rem;
        margin: 0 auto;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .title>h1 {
        color: var(--lighter-gold);
        font-size: 4.5rem;
    }

    .title>h2 {
        color: var(--lighter-gold);
        font-size: 3rem;
    }

    /* -------------------------- / Header -------------------------- */

    /* -------------------------- Footer -------------------------- */

    footer {
        min-height: 8vh;
        font-size: 2rem;
    }

    .footer_nav {
        list-style: none;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .footer_nav_item {
        display: inline-block;
        color: #fff;
    }

    .footer_nav_item>a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 50px;
    }

    /* -------------------------- / Footer -------------------------- */
}